.wcfpt{
    .list{
        display: flex;
        align-items: center;

        .item{
            display: flex;
            align-items: center;
            
            &:after{
                font-size: 1.5rem;
                content: ' + ';
                padding: 0 .5rem;
            }

            &:last-child:after{
                padding: 0;
                content: '';
            }
        }
    }
    
    form.wcfpt-add-to-cart{
        padding-top: 1rem;

        label{ 
            display: inline; 
            
            &:first-child:before{
                content: "This item:"
            }

            span.price{
                font-size: 1rem;
                margin: 0;
                line-height: normal;
                
                span.woocommerce-Price-amount{
                    font-size: 1rem;
                    margin: 0;
                    line-height: normal;
                    content: '';
    
                    &:before{ content: '' !important }
                }
            }
            
        }


    }
}
